---
import PersistentLayout from '../layouts/PersistentLayout.jsx'
---

<PersistentLayout>
  <h1 style="color: white;">Sobre nosotros</h1>
  <p style="color: white;">Esta es la página sobre nosotros.</p>
  <a href="/" style="color: #0af;">Volver al inicio</a>
</PersistentLayout>