---
import PersistentLayout from '../layouts/PersistentLayout.jsx'
import "../../styles/global.css"
---
import PersistentLayout from '../layouts/PersistentLayout.jsx'
---

<!-- 
  Página "Contacto":
  El formulario se superpone al video en escritorio, y se posiciona debajo en mobile.
-->

<PersistentLayout>
  <section class="contenido-sobre-video">
    <h1>Contacto</h1>
    <form name="contacto" method="POST" netlify>
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="mensaje">Mensaje:</label>
      <textarea id="mensaje" name="mensaje" required></textarea>

      <button type="submit">Enviar</button>
    </form>
  </section>
</PersistentLayout>
