---
import BackgroundVideo from '../components/BackgroundVideo.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Inicio</title>
  </head>
  <body>
    <BackgroundVideo />
  </body>
</html>