---
import PersistentLayout from '../layouts/PersistentLayout.jsx'
import "../../styles/global.css"
---
import PersistentLayout from '../layouts/PersistentLayout.jsx'
---

<PersistentLayout>
  <h1 style="color: white;">Inicio</h1>
  <p style="color: white;">Bienvenidos a la página principal.</p>
  <a href="/about" style="color: #0af;">Ir a Sobre nosotros</a>
</PersistentLayout>